.category-sidebar.sidebar
  .default-category-zone.category-zone.text-p
    .category-list.sidebar-inbox{category_type: 'inbox', url: category_projects_path(0) + '?category_type=inbox'}
      %span.category-icon
        %i.fas.fa-inbox
      %span.row-name 所有项目
      %span.row-stat= current_user.inbox_projects.count
      %span.placeholder.category-delete
    .category-list.sidebar-starred{category_type: 'starred', url: category_projects_path(0) + '?category_type=starred'}
      %span.category-icon
        %i.fas.fa-star
      %span.row-name 星标项目
      %span.row-stat= current_user.starred_projects.count
      %span.placeholder.category-delete
    .category-list.sidebar-done{category_type: 'done', url: category_projects_path(0) + '?category_type=done'}
      %span.category-icon
        %i.fas.fa-check-square
      %span.row-name 完成项目
      %span.row-stat= current_user.done_projects.count
      %span.placeholder.category-delete
  .custom-category-zone.category-zone.text-p
    - @categories.each do |category|
      .category-list.flex{url: category_projects_path(category), value: category.id}
        %span.category-icon
          %i.fas.fa-folder
        %span.row-name= category.name
        %span.row-stat= category.projects.count
        %span.category-delete
          %i.far.fa-trash-alt
