.project-content{id: "project-content-#{project.id}", value: project.id }
  .project-header.mb-5{url: project_path(project), value: project.id}
    .project-name.mb-3= project.name
    .project-description
      %input{id: 'project-description-input', value: project.description, type: 'hidden'}
      %trix-editor.trix-content{input: 'project-description-input'}
      .save-project-des-div.my-2.d-flex.justify-content-end
        %button.btn.btn-primary.btn-sm.save-project-des.d-none{value: project.id}
          %span.save-project-des-loading.hide
            %i.fas.fa-spinner.fa-spin
          Save
        %button.btn.btn-info.btn-sm.project-des-state{disabled: 'disabled'}
          %span
            %i.fas.fa-check
  .project-body
    - project.titles.each do |title|
      .title-container{id: "title-container-#{title.id}"}
        .title-row.flex-between{ id: "title-row-#{title.id}" }
          .title-content.flex.align-center{url: project_title_path(project, title)}
            .title-name
              - name = title.name.present? ? title.name : '默认标题'
              %span= name
          .title-button-group.flex.align-center
            %span.title-delete{url: project_title_path(project, title), value: title.id, class: title.todos.count > 0 ? 'hide': ''}
              %i{class: 'fas fa-trash-alt'}
            %span.toggle-title-todos{value: title.id, class: title.todos.count > 0 ? '' : 'hide'}
              %i{class: 'fas fa-chevron-up'}
              %i{class: 'fas fa-chevron-down hide'}
            %span.todo-add{value: title.id, url: title_todos_path(title)}
              %i{class: 'fas fa-plus'}

        .title-todos-container.s-rounded{id: "title-todos-container-#{title.id}"}
          - title.todos.each_with_index do |todo, index|
            .todo-list.flex.align-center{id: "todo-list-#{todo.id}"}
              %svg.todo-timer.hide{viewBox: "0 0 20 20"}
                %circle{r: "8", cx: "10", cy: "10"}
                %circle.bar{r: "8", cx: "10", cy: "10", id: "todo-timer-bar-#{todo.id}"}
              %span.tomato-start{id: "tomato-start-#{todo.id}", value: todo.id, class: todo.done ? 'hide done' : ''}
                %i.fas.fa-play-circle
              %span{id: "todo-check-icon-#{todo.id}", class: todo.done ? '' : 'hide'}
                %i.fas.fa-check
              .todo-list-content{value: todo.id}
                .todo-name.text-p
                  = todo.name
                .second-row.flex.align-center
                  %span.badge.badge-primary.mr-2.todo-tomatoes-timeline{id: "todo-#{todo.id}-tomato-count", value: todo.id}= todo.tomatoes.count
                  .todo-delete.second-row-item{url: title_todo_path(title, todo), value: todo.id, title_id: title.id}
                    %span
                      %i.fas.fa-trash-alt
              .todo-switcher
                %label{class: 'switcher'}
                  %input.toggle-todo{type: 'checkbox', value: todo.id, checked: todo.done}
                  %span{class: 'slider-my'}
              -# .button-group.flex
                -# = button_tag '删除', class: 'ui button delete-todo-button', url: title_todo_path(title, todo), value: todo.id
                -# = button_tag '编辑', class: 'ui button edit-todo-button', url: edit_title_todo_path(title, todo), value: todo.id


.title-add-div.d-flex.flex-row-reverse
  .title-add
    %span.title-add-icon
      %i.fas.fa-plus
%input.project-name-input.hide{type: 'text'}
%input.title-edit-input.hide{type: 'text'}
%input.todo-edit-input.hide{type: 'text'}
