.project-content{id: "project-content-#{project.id}", value: project.id }
  .project-head.s-rounded
    .header
      %h2= project.name
    .description.text-p
      %p= project.description
  .project-body
    - project.titles.each do |title|
      .title-container{id: "title-container-#{title.id}"}
        .title-row.flex-between{ id: "title-row-#{title.id}" }
          .title-content.flex.align-center
            .title-name
              - name = title.name.present? ? title.name : '默认标题'
              %b= name
            .divider-vert
            .chevron-up
              %i{class: 'fas fa-chevron-up'}
          .title-button-group.flex.align-center
            %span
              %i{class: 'fas fa-plus'}

        .title-todos-container.s-rounded{id: "title-todos-container-#{title.id}"}
          - title.todos.each_with_index do |todo, index|
            .todo-list.flex.align-center{id: "todo-list-#{todo.id}"}
              %span.tomato-start{value: todo.id}
                %i.fas.fa-play-circle
              .todo-list-content
                .todo-name.text-p
                  = todo.name
                .second-row.flex.align-center
                  .tomato-stat.second-row-item
                    %span 10
                    %span 5
                  .history-context.second-row-item
                    %i{class: 'fas fa-align-left'}
                  .todo-toolbar.text-dark.second-row-item
                    %i.far.fa-trash-alt
              .todo-switcher
                %label{class: 'switcher'}
                  %input{type: 'checkbox'}
                  %span{class: 'slider-my'}
              -# .button-group.flex
                -# = button_tag '删除', class: 'ui button delete-todo-button', url: title_todo_path(title, todo), value: todo.id
                -# = button_tag '编辑', class: 'ui button edit-todo-button', url: edit_title_todo_path(title, todo), value: todo.id

%form.title-edit-form.hide
  .control-group.flex.align-center
    %input.title-edit-input.control-item{type: 'text'}
    %span.title-update.primary-color.control-item
      %i.fas.fa-check-circle
    %span.title-update-cancel.error-color.control-item
      %i.fas.fa-times-circle
