.project-sidebar-content{category_id: @category_id, category_type: @category_type}
  - @projects.each do |project|
    .project-list.flex.align-center.text-p{id: "project-list-#{project.id}", value: project.id}
      .project-star-icon{class: project.pin ? '' : 'visible-hide'}
        %i.fas.fa-star
      .project-list-content
        .project-list-dropdown.d-flex.row-reverse
          .project-list-dropdown-button{'data-toggle': 'dropdown', 'data-boundary': 'window'}
            %i.fas.fa-ellipsis-h
          .dropdown-menu.dropdown-menu-right
            %button.dropdown-item= project.pin ? '取消星标' : '标记星标'
            .dropdown-divider
            %button.dropdown-item 删除项目
        .project-list-name= project.name
        .project-list-description= project.description || 'no content'
        .project-list-stat.flex-between
          %span.project-start-time= china_date(project.created_at)
          .tomato-num-div
            %span.tomato-icon
              %i.fas.fa-apple-alt
            %span.tomato-num= project.tomatos_count

:javascript
  $(function() {
    let firstProject = $('.project-sidebar .project-list')[0]
    if (firstProject) {
      firstProject.click()
    }
  })
