.project-content#project-id{ value: project.id }
  .header
    %h3= project.name
  .body
    - project.titles.each do |title|
      = render 'shared/title_show', project: project, title: title

      %ul
        - title.todos.each do |todo|
          %li.todo-list= todo.name

  .action-bar
    = button_tag '新建标题', { class: 'btn', id: 'new-title-button', url: new_project_title_path(project.id) }
    = button_tag '新建todo', { class: 'btn', id: 'new-todo-button' }
