.title-container
  - name = title.name.present? ? title.name : '默认标题'
  .title-content{ id: "title-content-#{title.id}" }
    .title-body= name
    .button-group
      = button_tag '删除', { class: 'delete-title-button', value: title.id, url: project_title_path(project, title) }
      = button_tag '编辑', { class: 'edit-title-button', value: title.id, url: edit_project_title_path(project, title) }
  .todo-content
    - title.todos.each do |todo|
      .todo-list= todo.name
