<!DOCTYPE html>
<html>
  <head>
    <title>TimeTracker</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% flash.each do |name, msg| %>
      <%= content_tag :div, msg, :id => "flash#{name}" %>
    <% end %>

    <% if current_user %>
      Logged in with <%= current_user.email %>
      <%= link_to 'Log out', log_out_path %>
    <% else %>
      <%= link_to 'Log in', log_in_path %>
      <%= link_to 'Sign up', sign_up_path %>
    <% end %>

    <%= yield %>
  </body>
</html>
